<div class="row product-details">
    <div class="col-sm-6">
    <img  class="product-img" src="" alt="">
    </div>
    <div class="col-sm-6">
        <div class="details">
            <h1>Hello</h1>
            <h3>Price : </h3>
            <div>Color : ></div>
            <h6>Category : </h6>
            <h6>Description : </h6>
            <button class="form-button">Buy Now</button>
            <button  class="form-button">Remove to Cart</button>
            <button  class="form-button">Add to Cart</button>
        
        </div>
    </div>
</div>