<section>
    <div class="card">
        <div class="common-heading">
            <div class="common-heading-left">
             <h1>Best Battery Phones</h1>
             <h2>More than 4000mAh</h2>
            </div>
            <div class="common-heading-right">
              <button>view all</button>
            </div>
        </div>
        <div class="common-row">
            <div class="common-col">
                <img src="./assets/p1.jpeg" alt="mobile">
                <h3>One plus nord CE 2 lite</h3>
                <h4>Min 10% off</h4>
                <h4>Shop Now!</h4>
            </div>
            <div class="common-col">
                <img src="./assets/p2.jpeg" alt="mobile">
                <h3>Oppo A74 5G</h3>
                <h4>Min 10% off</h4>
                <h4>Shop Now!</h4>
            </div>
            <div class="common-col">
                <img src="./assets/p3.jpeg" alt="mobile">
                <h3>Vivo X80 Pro 5G</h3>
                <h4>New Launch</h4>
                <h4>Shop Now!</h4>
            </div>
            <div class="common-col">
                <img src="./assets/p4.jpeg" alt="mobile">
                <h3>Samsung Galaxy S23 Ultra</h3>
                <h4>Min 15% off</h4>
                <h4>Shop Now!</h4>
            </div>
            <div class="common-col">
                <img src="./assets/p5.jpeg" alt="mobile">
                <h3>Oppo Reno 8 5G</h3>
                <h4>Min 20% off</h4>
                <h4>Shop Now!</h4>
            </div>
            <div class="common-col">
                <img src="./assets/p6.jpeg" alt="mobile">
                <h3>Google Pixel 7 pro</h3>
                <h4>Min 10% off</h4>
                <h4>Shop Now!</h4>
            </div>
            <div class="common-col">
                <img src="./assets/p7.jpeg" alt="mobile">
                <h3>One Plus 10R 5G</h3>
                <h4>Min 10% off</h4>
                <h4>Shop Now!</h4>
            </div>
            
        </div>
    </div>
</section>

<section>
    <div class="card">
        <div class="common-heading">
         <div class="common-heading-left">
             <h1>Furniture Bestsellers section </h1>
             <h2>Up to 15% OFF</h2>
         </div>
         <div class="common-heading-right">
             <button>view all</button>
         </div>
        </div>
        <div class="common-row">
         <div class="common-col col-furniture">
             <img src="./assets/f1.jpeg" alt="mobile">
             <h3> swing chair</h3>
             <h4> up to 30% off</h4>
             <h4>Shop Now!</h4>
         </div>
         <div class="common-col col-furniture">
             <img src="./assets/f2.jpeg" alt="mobile">
             <h3>bean bag cover</h3>
             <h4>up to 20% off</h4>
             <h4>Shop Now!</h4>
         </div>
         <div class="common-col col-furniture">
             <img src="./assets/f3.jpeg" alt="mobile">
             <h3>furniture</h3>
             <h4>up to 15% off</h4>
             <h4>Shop Now!</h4>
         </div>
         <div class="common-col col-furniture">
             <img src="./assets/f4.jpeg" alt="mobile">
             <h3> soffaa</h3>
             <h4>up to 10% off</h4>
             <h4>Shop Now!</h4>
         </div>
         <div class="common-col col-furniture">
             <img src="./assets/f5.jpeg" alt="mobile">
             <h3>chair</h3>
             <h4>up to 20% off</h4>
             <h4>Shop Now!</h4>
         </div>
         <div class="common-col col-furniture">
             <img src="./assets/f6.jpeg" alt="mobile">
             <h3>mirror table</h3>
             <h4>up to 25% off</h4>
             <h4>Shop Now!</h4>
         </div>
         <div class="common-col col-furniture">
             <img src="./assets/f7.jpeg" alt="mobile">
             <h3>swing chair</h3>
             <h4>up to 10% off</h4>
             <h4>Shop Now!</h4>
         </div>
         
     </div>
    </div>
</section>
